@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
To use this database, you must first log in using the login page.  You can change your login at any time
by going to the login page from the control bar at the top of the application screen.  The login name will
be the same as your lecturer login name to the university computer network.<br />
After you log in, you will be transferred to the list of your current students.  <br />
<h3>To add a student</h3>
Select the link <b>add a student</b>.  You will be transferred to a page where you can enter information about the
student, and then press save to save the student.<br />
You will then be transferred back to your list, where your student will be shown.<br />
<h3>To delete a student</h3>
From the student list you can select <b>delete</b>.  <b>THERE WILL BE NO WARNING</b>.  So be careful<br />
<h3>To edit a student</h3>
From the student list you can select <b>edit</b>.  You will be transferred to the student details, where you can
change the values and then press save.  This will take you back to the list so you can see your changes.<br />

